---
import Layout from '@/layouts/Layout.astro'
import CharacterCard from '@/components/CharacterCard.astro'
import { getCharacters } from '@/services/characters'

const characters = await getCharacters()
---

<Layout title='Dragon Ball Characters'>
	<main class='container'>
		<h1>Dragon Ball Characters</h1>

		<div class='characters-grid'>
			{characters.map((character) => <CharacterCard character={character} />)}
		</div>
	</main>
</Layout>

<style>
	.container {
		width: min(1200px, 90%);
		margin: 2rem auto;
	}

	h1 {
		text-align: center;
		margin-bottom: 2rem;
		color: var(--text-primary);
	}

	.characters-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
		gap: 2rem;
	}
</style>
